#listDiv{
    margin-top: 2rem;
    width: 100%;
    display: flex;
}
body{
    background-image: url(../imgs/low-poly-grid-haikei.svg);
}
.content{
    width: 33%;
    height: 300px;
    background-color: #d3d3d3;
    margin-top: 30px;
    margin-right: 10px;
    border-radius: 5px;
    
}
#innerdivheader{
    margin-top: 10px;
}
#leftStyle{
  width: 100%;
  height: 20px;
  margin-bottom: 6%;
  font-size: 1rem !important;
}
#midStyle{
    width: 100%;
  height: 20px;
  margin-bottom: 5%;
  font-size: 1rem !important;
}
.contentTitle{
    width: 33%;
    height: 100px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 5px;
    color: white;
    
}
#title{
    color: white;
    margin-top: 5px;
}
#contentLeft {
    margin-left: 10px;
    border-radius: 5px;
}
#contentLeft p {
   font-size: 12px;
}
#contentMid p {
    font-size: 12px;
}

#contentRight p {
    font-size: 12px;
}